<h1>Form:</h1>
<form method="POST" action="/new">
    <label for="author">
        Name: 
        <input type="text" name="authorName" id="author" placeholder="Author">
    </label>
    <br>
    <label for="messageText">
        Message:
        <input type="text" name="messageText" id="messageText">
    </label>
    <br>
    <button>Send!</button>
</form>