<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message board</title>
</head>
<body>
    <h1><%= message.user%></h1>
    <p><%= message.text%></p>
    <p>Added on <%= message.added.toString() %></p>
    <p><a href="/">Return to home!</a></p>
</body>
</html>